# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*.swn

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de pytest y coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# Archivos de bases de datos temporales
*.sqlite3
*.db
